#wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  .section1 {
    width: 100%;
    height: auto;
    position: relative;
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      display: block;
    }
    .msImg {
      height: 100vh;
      width: 100%;
      background-repeat: no-repeat;
      background-position: 40% 30%;
      background-size: cover;
      overflow: hidden;
      position: relative;
      transition: all 0.5s;
      object-fit: cover;
      display: block;
    }
    .tbox {
      position: absolute;
      color: #eee;
      font-size: 16px;
      max-width: 960px;
      margin: 0px auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.25);
      box-shadow: 8px 8px 10px 0 #00000033;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      text-align: center;
      padding: 20px;
      .ms_text_wrap {
        padding: 50px;
        border: 1px solid rgba(255, 255, 255, 0.7);
      }
    }
    h4 {
      font-size: 37px;
      line-height: 1.4;
      margin: 30px 0;
      font-weight: 400;
    }
    img {
      .mobi_none {
        width: 260px;
      }
    }
  }
  .ms_down_icon {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    transition: all 0.3s;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: #ffffff40;
    }
    a {
      height: 45px;
    }
    img {
      width: 45px;
    }
  }
  .section2 {
    background: linear-gradient(black, pink);
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    position: relative;
    display: block;
    .section2-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .section2-textbox {
        h4 {
          font-size: 4rem;
          line-height: 1.4;
          margin: 30px 0;
          font-weight: 400;
          font-family: "Noto Sans KR", sans-serif;
          color: #ffffff;
          span {
            font-family: serif;
            font-size: 4rem;
            color: #fff;
            position: relative;
            top: 20px;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            /*  x축, y축, 블러 설정  */
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
              0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent,
              0 8px 0 transparent, 0 9px 0 transparent,
              0 10px 10px rgba(0, 0, 0, 0.4);
            animation: bounce 0.3s ease infinite alternate;
            &:nth-child(2) {
              animation-delay: 0.1s;
            }
            &:nth-child(3) {
              animation-delay: 0.2s;
            }
            &:nth-child(4) {
              animation-delay: 0.3s;
            }
            &:nth-child(5) {
              animation-delay: 0.4s;
            }
            &:nth-child(6) {
              animation-delay: 0.5s;
              margin-left: 20px;
            }
            &:nth-child(7) {
              animation-delay: 0.6s;
            }
            &:nth-child(8) {
              animation-delay: 0.7s;
            }
            &:nth-child(9) {
              animation-delay: 0.8s;
            }
            &:nth-child(10) {
              animation-delay: 0.9s;
            }
            &:nth-child(11) {
              animation-delay: 1s;
            }
            &:nth-child(12) {
              animation-delay: 1.1s;
            }
          }
        }
      }
      .wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 30px;
        max-width: 1170px;
        margin-top: 50px;
        .circle1 {
          margin: -10px;
          border-radius: 50%;
          width: 200px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          font-size: 1.25rem;
          color: #ffffff;
          border: 2px solid rgba(255, 255, 255, 0.5);
          box-shadow: 2px 2px 5px rgb(193, 193, 193);
          transition: opacity 1s;
          opacity: 0;
          &.fadeInUp {
            opacity: 1;
            animation: fadeInUp 1s;
          }
        }
        .circle2 {
          margin: -10px;
          border-radius: 50%;
          width: 200px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          font-size: 1.25rem;
          color: #ffffff;
          border: 2px solid rgba(255, 255, 255, 0.5);
          box-shadow: 2px 2px 5px rgb(193, 193, 193);
          transition: opacity 1s;
          opacity: 0;
          &.fadeInUp {
            opacity: 1;
            animation: fadeInUp 1s;
          }
        }
        .circle3 {
          margin: -10px;
          border-radius: 50%;
          width: 200px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          font-size: 1.25rem;
          color: #ffffff;
          border: 2px solid rgba(255, 255, 255, 0.5);
          box-shadow: 2px 2px 5px rgb(193, 193, 193);
          transition: opacity 1s;
          opacity: 0;
          &.fadeInUp {
            opacity: 1;
            animation: fadeInUp 1s;
          }
        }
        .circle4 {
          margin: -10px;
          border-radius: 50%;
          width: 200px;
          height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          font-size: 1.25rem;
          color: #ffffff;
          border: 2px solid rgba(255, 255, 255, 0.5);
          box-shadow: 2px 2px 5px rgb(193, 193, 193);
          transition: opacity 1s;
          opacity: 0;
          &.fadeInUp {
            opacity: 1;
            animation: fadeInUp 1s;
          }
        }
      }
    }
  }
  .section3 {
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    display: block;
    .backimg {
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      object-fit: cover;
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      transition: all 1s;
      .hoverDiv {
        border-right: 1px solid #ffffff;
        flex: 1;
        height: 100%;
        position: relative;
        .hover-textbox {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .tbox {
            color: #eee;
            font-size: 16px;
            max-width: 300px;
            margin: 0px auto;
            background-color: rgba(255, 255, 255, 0.25);
            box-shadow: 8px 8px 10px 0 #00000033;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            text-align: center;
            padding: 20px;
            .ms_text_wrap {
              padding: 50px;
              border: 1px solid rgba(255, 255, 255, 0.7);
              h4 {
                font-size: 1.5rem;
                line-height: 1.4;
                margin: 30px 0;
                font-weight: 400;
              }
              p {
                font-size: 1rem;
              }
            }
          }
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
      &.fade-in {
        opacity: 1;
        transition: opacity 1s;
      }
      &.fade-out {
        opacity: 0;
        transition: opacity 1s;
      }
    }
  }
}
#mb_slide {
  display: none;
}
@keyframes bounce {
  100% {
    top: -10px;
    text-shadow: 0 1px 0 #ccc, 0 1px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent,
      0 8px 0 transparent, 0 9px 0 transparent, 0 50px 20px rgba(0, 0, 0, 0.4);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@media screen and (max-width: 1000px) {
  #wrap {
    .section2 {
      .section2-box {
        .wrapper {
          display: grid;
          margin-top: 0;
          padding: 16px;
          max-width: 100%;
          grid-template-columns: 1fr 1fr;
          .circle1,
          .circle2,
          .circle3,
          .circle4 {
            width: 150px;
            height: 150px;
          }
        }
        .section2-textbox {
          h4 {
            span {
              font-size: 2rem;
            }
          }
        }
      }
    }
    .section3 {
      .backimg {
        display: grid;
        grid-template-columns: 1fr;
        .hoverDiv {
          .hover-textbox {
            .tbox {
              padding: 10px;
              .ms_text_wrap {
                padding: 10px;
                h4 {
                  font-size: 1.25rem;
                  margin: 10px 0;
                }
              }
            }
          }
        }
      }
    }
    #mb_slide {
      display: block;
    }
    #desk_slide {
      display: none;
    }
    .ms_down_icon {
      width: 50px;
      height: 50px;
      background: #ffffff40;
      a {
        width: 35px;
        height: 35px;
        margin-top: 3px;
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}
